body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.hamburger {
    display: none;
}

.navText {
    display: none;
}

nav {
    height: 50px;
}

nav ul {
    float: right;
    list-style: none;
    padding: 5px;
}

li {
    display: inline-block;
    padding: 0px 5px;
}

nav a {
    text-decoration: none;
    font-size: 13px;
    color: #333;
}

a:hover {
    text-decoration: underline;
}

.grid {
    position: relative;
    top: -10px;
}

.grid img {
    padding: 10px;
    border-radius: 50%;
}

.grid img:hover {
    background-color: rgb(245, 245, 245);
}

.grid img:active {
    background-color: lightgrey;
}

.logo {
    position: relative;
    top: -10px;
}

.logo img {
    padding: 5px;
    border-radius: 50%;
}

.logo img:hover {
    background-color: rgb(245, 245, 245);
}

.logo img:active {
    background-color: lightgrey;
}

.mainDiv {
    padding: auto;
    text-align: center;
    width: 80%;
    margin: auto;
    margin-top: 50px;
}

.mainDiv input {
    width: 80%;
    max-width: 500px;
    font-size: 15px;
    color: #222;
    line-height: 30px;
    padding: 7px 50px;
    border: 1px solid lightgrey;
    margin-top: 15px;
    border-radius: 25px;
    outline: none;
    background-image: url("img/search.png");
    background-repeat: no-repeat;
    background-position-x: 20px;
    background-position-y: center;
    background-size: 15px 15px;
}

.Mic {
    border: none;
    position: relative;
    top: 5px;
    left: -40px;
    /* margin-bottom: -30px; */
    /* height: 150px;
    width: 150px; */
}

.Mic img {
    width: 15px;
}

.mainDiv>input:hover {
    box-shadow: 0px 0px 3px 1px lightgrey;
}

.mainDiv button {
    border: none;
    margin-top: 25px;
    border-radius: 2px;
    padding: 10px 17px;
    font-size: 14px;
    cursor: pointer;
    outline: none;
    background-color: rgb(250, 250, 250);
    color: #333;
}

.mainDiv button:hover {
    box-shadow: 0px 0px 1px 1px lightgrey;
}

.mainDiv button:active {
    box-shadow: 0px 0px 1px 1px #66f;
}

.mainDiv p {
    margin-top: 28px;
    font-size: 13px;
}

.mainDiv a {
    text-decoration: none;
    padding: 0px 5px;
}

.mainDiv a:hover {
    text-decoration: underline;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100vw;
    /* background-color: lightgrey; */
    /* height: 150px; */
    background-color: rgb(245, 245, 245);
    color: grey;
}

span {
    width: 100%;
    height: 1px;
    padding: 0;
    background-color: lightgrey;
    display: block;
}

footer div {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0px 30px;
}

footer p {
    display: inline-block;
    text-align: center;
    font-size: 15px;
}

footer p a {
    text-decoration: none;
    padding: 0 15px;
    font-size: 14px;
    color: grey;
}

.footer1{
    display: block;
}

@media only screen and (max-width: 823px) {
    .Mic {
        top: -35px;
        left: 45%;
    }
    
    .mainDiv button {
        margin-top: 0px;
    }
        
    .mainDiv input {
        padding: 7px 10%;
    }
}

@media only screen and (max-width: 460px) {
    nav ul {
        padding: 3px;
    }

    .nav1 {
        float: left;
    }

    .navText {
        display: inline-block;
    }

    .navText1 {
        display: none;
    }

    .hamburger {
        display: inline-block;
        cursor: pointer;
        margin-left: 10px;
    }
    
    li {
        padding: 0px 3px;
    }

    nav a {
        font-size: 10px;
    }
    
    .mainDiv p img {
        width: 190px;
    }
    
    .mainDiv input {
        font-size: 12px;
        line-height: 30px;
        text-indent: 20px;
    }
    
    .Mic {
        left: 42%;
        top: -32px;
    }

    .Mic img{
        width: 12px;
    }
    
    .mainDiv button {
        padding: 8px 14px;
        font-size: 11px;
    }
    
    .mainDiv p {
        margin-top: 28px;
        font-size: 10px;
    }
    
    footer p {
        font-size: 12px;
    }
    
    footer p a {
        display: inline-block;
        margin-top: 10px;
        font-size: 11px;
    }

    .footer1{
        display: none;
    }
    .footer2{
        display: none;
    }
}

@media only screen and (max-width: 290px) {
    .mainDiv p img {
        width: 160px;
    }
    
    .mainDiv input {
        font-size: 12px;
        line-height: 25px;
    }

    .mainDiv button {
        padding: 7px 12px;
        font-size: 9px;
    }
}